.formcontainer{
    margin: auto;
}

form{
    margin: auto;
    border: 5px;
    width: fit-content; 
    padding: 40px;
    border-radius: 0px 10px;
    background-color: rgb(207, 200, 202);
}
div{
    margin: auto;
    padding: 20px;
}
label{
    font-size: medium;
    font-weight: 400;
    font-family:  sans-serif;
    padding-right: 90px;
    
}

input{
    border-radius: 7px 1px;
}
